<h2>Tasks list - Total: {{tasks.length}}</h2>

<div>
    <h3 *ngIf="tasks.length==0">No task at this moment.</h3>
</div>

<button
        *ngIf="tasks.length"
        (click)="deleteAllTask()"
        [disabled]="!tasks.length"
        [class]="!tasks.length?'button-disabled':'button-enable'">DELETE ALL
</button>
<button (click)="reset()" class="button-enable">GET TASKS</button>

<div>
    <app-task-list
            [tasks]="tasks"
            (isChange)="onChange($event)">
    </app-task-list>
</div>

